[gcode_macro PREPARE_FOR_INPUT_SHAPING]
#small macro for input shaping
gcode:
	G28 ;home all axis and do a QGL
    BASE_QUAD_GANTRY_LEVEL
	G90 ;absolut reference
	G1 X175 Y175 Z30 F2000 ;extruder position in the middle of the printer
	M106 S0 ;turn off part cooling fan

[gcode_macro CHECK_ACCELEROMETER]
#small macro for input shaping
gcode:
	ACCELEROMETER_QUERY

[gcode_macro CHECK_AXES_NOISE]
#small macro for input shaping
gcode:
	MEASURE_AXES_NOISE

[gcode_macro CHECK_RESONANCES_X_AXIS]
#small macro for input shaping
gcode:
	TEST_RESONANCES AXIS=X

[gcode_macro CHECK_RESONANCES_Y_AXIS]
#small macro for input shaping
gcode:
	TEST_RESONANCES AXIS=Y
    
#[input_shaper] #19.04.2025
#shaper_type_x: mzv
#shaper_freq_x: 62.4
#shaper_type_y: mzv
#shaper_freq_y: 41.8
#damping_ratio_x: 0.053
#damping_ratio_y: 0.052

#[input_shaper] #16.05.2025
#shaper_type_x: ei
#shaper_freq_x: 56.8
#shaper_type_y: mzv
#shaper_freq_y: 41.4
#damping_ratio_x: 0.116
#damping_ratio_y: 0.047

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 67.0
shaper_type_y: zv
shaper_freq_y: 48.0
damping_ratio_x: 0.068900
damping_ratio_y: 0.074800